#body{
    background-color: black;
}


#contato{
    background-color: darkgray;
}

#habilidades{
    background-color:darkgrey;
}

#sobre{
    background-color: darkgrey;
}

#Projeto{
    background-color: darkgray;
}

#Inicio{
    background-color: darkgray;
}


header{
    padding: 40px 4%;
}

.menu{
    max-width: 1280px;
    margin: 0 auto;
}

header > .cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

header nav ul a{
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-size: 18px;
}

.mover{
    animation: mover 1s infinite alternate;
}

@keyframes mover {

    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(40px);
    }
    
}